.root {
  background-color: #0D0C24;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  width: 100%;
  height: 100%;
  margin: auto;
  outline: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  color: white;
  width: 100%;
  height: 100%;
  margin: 50px;
  outline: solid 2px #019D99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

h4{
  font-weight: 100;
}

.nickname{
  font-weight: 300;
  font-size: small;
}

.available{
  color: rgb(6, 183, 6);
}
.notAvailable{
  color: rgb(173, 2, 2);
}